@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url("https://example.com/libre-baskerville.css");

* {
  box-sizing: border-box;
}
html,
body,
:root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
:root {
  --color-rose-custom: #dd71c6;
  --color-lightblue-custom: #a4e7ed;
  --color-yellow-custom: #ffd900;
  --color-green-custom: #76b533;
  --color-blue-custom: #73c3f4;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 1;
}
#menu li a:hover {
  box-shadow: inset 170px 0 0 0 var(--color-blue-custom);
  color: white;
}
a:active {
  color: black;
}

@media (max-width: 1024px) {
  a {
    color: white;
  }
  a:hover,
  a:active {
    color: black;
  }
}

body {
  position: relative;
}

/* first section */
#background-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 150%;
  background-image: url("public/images/background-elements/back-rectangle.png");
  background-size: cover;
  z-index: -50;
}
@media (min-width: 1200px) {
  #background-container {
    width: 33%;
  }
}

#ellipse-1 {
  position: absolute;
  right: -10%;
  top: -15%;
  width: 50%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -49;
}
@media (min-width: 758px) {
  #ellipse-1 {
    background-size: 60%;
    top: -15%;
    right: -30%;
    width: 60%;
  }
}
@media (min-width: 1140px) {
  #ellipse-1 {
    background-size: 60%;
    top: -25%;
    right: -30%;
    width: 40%;
  }
}

#ellipse-2 {
  position: absolute;
  right: 10%;
  top: 35%;
  width: 50%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -49;
}
@media (min-width: 758px) {
  #ellipse-2 {
    background-size: 40%;
  }
}
@media (min-width: 1140px) {
  #ellipse-2 {
    background-size: 60%;
    top: 20%;
    right: 0%;
  }
}

/* first section: header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  header {
    max-width: 80%;
    padding: 1.5rem 0rem;
  }
}
#logo {
  width: 100px;
  margin-right: auto;
  height: auto;
}
@media (min-width: 456px) {
  #logo {
    width: 140px;
  }
}
@media (min-width: 1024px) {
  #logo {
    height: 62px;
  }
}
nav {
  font-size: 14px;
}

#menu {
  display: none;
  margin-left: auto;
  font-size: 0.875rem;
  list-style-type: none;
  z-index: 10;
  flex-direction: column;
  line-height: 1.75rem;
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: var(--color-rose-custom);
  width: 45%;
  padding: 1rem;
  z-index: 10;
}
@media (min-width: 456px) {
  #menu {
    width: 30%;
  }
}
@media (min-width: 1670px) {
  #menu {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 0;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#menu.show {
  animation-name: slideInFromRight;
  animation-duration: 1s;
}

#hamburger {
  border: none;
  color: var(--color-rose-custom);
  font-size: 1.75rem;
  display: block;
  background-color: transparent;
  z-index: 0;
}
@media (min-width: 1670px) {
  #hamburger {
    display: none;
  }
}
#close {
  display: none;
}

/* first section: title */
#first-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-blocks {
  order: 1;
}

#counter-wrapper-total {
  order: 2;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .text-blocks {
    order: 1;
  }

  .counter {
    order: 2;
  }
}
#title-primary {
  font-weight: normal;
  max-width: 65%;
  margin: auto;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  line-height: 48px;
  text-align: center;
}
#title-primary span,
#title-secondary span {
  color: var(--color-rose-custom);
}

#title-secondary {
  font-size: 0.75rem;
  max-width: 65%;
  margin: 2rem auto;
  text-align: center;
}

#title-secondary-paragraph {
  max-width: 65%;
  margin: 2rem auto;
  font-size: 1rem;
  line-height: 25.6px;
}

@media (min-width: 768px) {
  #title-primary,
  #title-secondary-paragraph {
    text-align: left;
    width: 40%;
    margin-left: 20%;
  }
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pink-button {
  margin: 2rem auto;
  font-weight: 600px;
  background-color: var(--color-rose-custom);
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
}
.pink-button a {
  color: white;
}
.pink-button:hover {
  background-color: var(--color-lightblue-custom);
}
.pink-button:active {
  background-color: var(--color-blue-custom);
}

/* first section: counter */
#counter-wrapper-total {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}
@media (min-width: 456px) {
  #counter-wrapper-total {
    max-width: 60%;
  }
}
@media (min-width: 1344px) {
  #counter-wrapper-total {
    max-width: 30%;
  }
}
#counter-rounded-box {
  background-color: rgba(238, 231, 231, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 1rem 2rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
#grid-container p {
  text-transform: uppercase;
  color: var(--color-blue-custom);
  font-size: 0.6rem;
}
@media (min-width: 850px) {
  #grid-container p {
    font-size: 1rem;
  }
}
#grid-container span {
  font-size: 2rem;
  padding: 0rem 0 2rem 0;
}

@media (min-width: 1200px) {
  #title-secondary {
    display: none;
  }

  #first-pink-button,
  #title-primary,
  #title-secondary-paragraph {
    margin-left: 10%;
    width: 30%;
  }
  #counter-wrapper-total {
    position: absolute;
    top: 14%;
    left: 50%;
  }
}

/* second section */

#second-section-background {
  background-color: var(--color-rose-custom);
  z-index: -40;
  position: relative;
}

#ellipse-3 {
  position: absolute;
  right: -5%;
  top: 7%;
  width: 10%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -39;
}
#ellipse-4 {
  position: absolute;
  right: 75%;
  top: -10%;
  width: 50%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -39;
}
@media (min-width: 750px) {
  #ellipse-4 {
    width: 35%;
    top: -30%;
  }
}
@media (min-width: 950px) {
  #ellipse-4 {
    width: 15%;
    top: -30%;
  }
}
#second-section-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  max-width: 80%;
  margin: auto;
  padding: 2rem 0;
  place-items: center;
  font-size: 0.75rem;
}
@media (min-width: 683px) {
  #second-section-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  #second-section-grid {
    width: 60%;
  }
}
#second-section-flex-container {
  background-color: white;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  border-radius: 15px;
  text-align: center;
  padding: 0 0.2rem;
}
@media (min-width: 683px) {
  #second-section-flex-container {
    height: 14rem;
    width: 8rem;
    padding: 0 0.3rem;
  }
}
@media (min-width: 820px) {
  #second-section-flex-container {
    width: 10rem;
  }
}
#second-section-grid-element div img {
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
}
.span-numbers {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}
.plus-sign {
  font-size: 1rem;
  line-height: 1.6rem;
  color: grey;
}
#yellow-back {
  background-color: var(--color-yellow-custom);
  color: white;
  margin: 2rem auto;
  font-weight: 600px;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
}
#yellow-back a {
  color: white;
}

#yellow-back:hover {
  background-color: var(--color-lightblue-custom);
}
#yellow-back:active {
  background-color: var(--color-blue-custom);
}

/* third section */
#third-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem auto;
  background-color: var(--color-blue-custom);
  color: white;
  z-index: -30;
  position: relative;
}
@media (min-width: 1200px) {
  #third-section {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}

#ellipse-5 {
  position: absolute;
  right: 0%;
  top: -27%;
  width: 25%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -29;
}
@media (min-width: 750px) {
  #ellipse-5 {
    right: -15%;
    top: -27%;
    width: 25%;
  }
}
@media (min-width: 1130px) {
  #ellipse-5 {
    right: -10%;
    top: -17%;
    width: 25%;
  }
}

#ellipse-6 {
  position: absolute;
  right: 80%;
  top: 17%;
  width: 35%;
  height: 100%;
  background-image: url("public/images/background-elements/ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: -29;
}
#third-section-text-blocks-container {
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  flex: 1;
}
@media (min-width: 580px) {
  #third-section-text-blocks-container {
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  #third-section-text-blocks-container {
    max-width: 50%;
    margin-left: 10rem;
  }
}
.third-section-title {
  padding: 2rem auto;
}
.third-section-title h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

@media (min-width: 580px) {
  .third-section-title h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #third-section-text-blocks-container {
    max-width: 30%;
  }
}
.third-section-paragraph p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
@media (min-width: 580px) {
  .third-section-paragraph p {
    font-size: 1rem;
  }
}
#third-section-img-container {
  display: block;
  max-width: 90%;
  height: auto;
  margin: auto;
  flex: 1;
}
#third-section-img-container img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 1200px) {
  #third-section-img-container img {
    padding: 8rem;
  }
}
@media (min-width: 1200px) {
  #third-section-img-container img {
    padding: 10rem;
  }
}

/* fourth section */
#section-fourth {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem auto;
  background-color: white;
  color: black;
}
.section-block-texts {
  max-width: 70%;
  margin: auto;
}
@media (min-width: 580px) {
  .section-fourth-block-texts {
    max-width: 60%;
  }
}
@media (min-width: 900px) {
  #section-fourth {
    text-align: center;
  }
}
.section-title-black {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 580px) {
  .section-title-black {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.section-fourth-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1rem 0;
}
#section-fourth-img {
  width: 100%;
}
#section-fourth-img img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 900px) {
  #section-fourth-img img {
    display: none;
  }
}
#fourth-section-alt-img {
  display: none;
}
#fourth-section-alt-img img {
  display: none;
}
@media (min-width: 900px) {
  #fourth-section-alt-img img {
    display: block;
  }
  #fourth-section-alt-img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

/* fifth-section */
#fifth-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem auto;
  background-color: white;
  color: black;
}
.section-title-black span {
  color: var(--color-rose-custom);
}
@media (min-width: 580px) {
  .section-title-black {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

#fifth-section-flex-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  text-align: left;
}
@media (min-width: 780px) {
  #fifth-section-flex-container {
    flex-direction: row;
    gap: 4rem;
    align-items: stretch;
  }
  .fifth-section-flex-items {
    flex: 1;
  }
}
#fifth-section-flex-title-1 {
  color: var(--color-blue-custom);
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}
#fifth-section-flex-title-2 {
  color: var(--color-rose-custom);
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}
.fifth-section-flex-item ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
#fifth-section-flex-title-1-hr {
  border: none;
  border-top: 1px solid var(--color-lightblue-custom);
}

#fifth-section-flex-title-2-hr {
  border: none;
  border-top: 1px solid var(--color-rose-custom);
}
.center-button {
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

/* sixth section */
#sixth-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem auto;
  background-color: white;
  color: black;
  margin: auto;
}
#accordion {
  width: 60%;
  margin: auto;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-header img {
  cursor: pointer;
}
.accordion-header p,
.accordion-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: left;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content p {
  font-style: italic;
  color: grey;
}

.rotated {
  transform: rotate(180deg);
}
.color-changed {
  filter: invert(50%);
}
#non-showing-button {
  display: none;
}
@media (min-width: 768px) {
  #non-showing-button {
    display: flex;
  }
}

/* footer */
footer {
  background-color: white;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: left;
}
#footer-first-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #footer-first-container {
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
}
#footer-moto {
  width: 60%;
}
#footer-second-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
@media (min-width: 600px) {
  #footer-second-container {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
.footer-flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}

.footer-flex-item img {
  flex: 0 0 auto;
}

.footer-flex-item p span {
  font-weight: bold;
}

footer div div h6 {
  font-family: "Libre Baskerville", serif;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

footer div p a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: black;
  padding: 0;
  margin: 0;
}
#footer-last-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  #footer-last-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 980px) {
  #footer-last-div {
    width: 60%;
    margin: 2rem auto;
  }
}
.footer-link:hover {
  font-weight: bold;
}
.footer-link:active {
  transform: scale(1.1);
}
.social-icon:hover {
  transform: scale(1.1);
}

/* end of css */
